<ion-header>
  <ion-navbar>
    <ion-title>
      Quote/Order History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <span style="float:right; color:chocolate;font-size:17px; font-weight:bold">logout</span> -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-col *ngFor="let domestic_quote of domestic_quotes; let i = index">
    <ion-card style="padding-bottom:0px; margin-bottom:0px" [ngStyle]="{'background-color': isBidStatusAccepted(domestic_quote.bid_status)? 'green':'#275777'}">
      <ion-card-header>
        <ion-row class="tiny-date-row bidding-card-main-content">
              <ion-col>Quote Date: {{domestic_quote.buyer_date_needed}}</ion-col><ion-col>Status:
                <span *ngIf="domestic_quote.bid_status == 1">Bidding</span>
                <span *ngIf="domestic_quote.bid_status == 2">Expiry</span>
                <span *ngIf="domestic_quote.bid_status == 3">Accepted</span>
              </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="navToSaleOrderDetails(domestic_quote)"><span class="header-text">Q-Price</span><br><span class="sub-header-text">(Rs/Kg)</span><br><span class="content-text">{{domestic_quote.spc_rate}}</span></ion-col>
          <ion-col><span class="header-text">Last Bid</span><br><span class="sub-header-text">(spc | You)</span><br><span class="content-text">{{domestic_quote.spc_rate}}</span> | <span class="content-text">{{domestic_quote.buyer_rate}}</span></ion-col>
          <ion-col><span class="header-text">Quantity</span><br><span class="sub-header-text">(Bags)</span><br><span class="content-text">{{domestic_quote.buyer_quantity}}</span></ion-col>
          <ion-col (click)="routeToGrievancePage(domestic_quote.id)" col-1><ion-icon style="font-size: 25px" name="outlet"></ion-icon></ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-content>
