<ion-header>
  <ion-navbar>
    <ion-title>
      Quote/Order History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span style="float:right; color:chocolate;font-size:17px; font-weight:bold">logout</span>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-col *ngFor="let domestic_quote of domestic_quotes; let i = index">
    <ion-card style="padding-bottom:0px; margin-bottom:0px">
      <ion-card-header>
        <ion-row class="tiny-date-row">
              <ion-col>Quote Date: {{domestic_quote.date}}</ion-col><ion-col>Status: Final</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><span class="header-text">Q-Price</span><br>(Rs/Kg)<br>{{domestic_quote.rate}}</ion-col>
          <ion-col><span class="header-text">Last Bid</span><br>(spc | You)<br><span *ngIf="domestic_quote.hasOwnProperty('latest_bid_info')">{{domestic_quote.latest_bid_info.spc_rate}}</span>| <span *ngIf="domestic_quote.hasOwnProperty('latest_bid_info')">{{domestic_quote.latest_bid_info.buyer_rate}}</span> </ion-col>
          <ion-col><span class="header-text">Quantity</span><br>(Kgs)<br>20000 Kgs</ion-col>
        </ion-row>
      </ion-card-header>  
    </ion-card>
  </ion-col>
</ion-content>
  