// .align-center {
//     position: relative;
//     margin: 35% 20% 10% 20%;
// }

.button-center {
    margin-top: 25px;
    margin-left: 40%;
}

.input{
    margin: 5px;
    border-radius:5px; 
    color: wheat;
    font-size: 15; 
}

.input-field {
    border-radius: 5px;
    //margin-top: 10px;
    height: 30px;
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.input-field-label {
    margin-top: 30px;
}

page-login {
    .scroll-content {
      background-color: transparent;
    }

    .spc-text-header{
        text-align: center;
        margin-top: 15px;
        color: steelblue;
        font-size: xx-large;
        // font-family: Impact;
        font-weight: bold;
    }

    .spc-text-content{
        text-align: center;
        margin-top: 15px;
        color: steelblue;
        font-size: large;
        // font-family: Impact;
        font-weight: bold;
    }

    .input-field {
        text-align: left;
        height: 35px;
        width: 200px;
        padding-left: 10px;
    }
    
}