// .align-center {
//     position: relative;
//     margin: 35% 20% 10% 20%;
// }

.button-center {
    margin-top: 25px;
    margin-left: 40%;
}

.input{
    margin: 5px;
    border-radius:5px; 
    background-color: black;
    color: wheat;
    font-size: 15; 
}