page-order {
  .radio-button-style {
    border-radius: 50%;
    border-style: solid;
    margin: 0 0 0 0;
  }

  .item-md .radio-md[item-left]{
    margin: 0px 10px 0px 0px;
    background-color: transparent;
  }

  .ion-item {
    background-color: #9C9085;
    border-radius: 5px
  }
}
