<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2>
        <img src="assets/icon/coconut-tree.jpg" class="navbar-icon">
      </ion-col>
      <ion-col>
        <ion-title>
          <span class="navbar-title">Shree Praswanath Crop.</span>
        </ion-title>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <span class="logout-button" (click)="logout()">logout</span>
  <span *ngFor="let quote of domestic_quotes">
    <h3 text-center padding-top>Today's Rate:
      <span>₹.{{quote['rate']}}</span>
    </h3>
    <!-- <h3 text-center style="font-size: 40px">Rs 132</h3> -->
    <ion-label style="text-align: center;">Quick Order</ion-label>
    <hr>
    <ion-label style="text-align: center;">Select Brand</ion-label>
    <ion-row radio-group [(ngModel)]="brands">
      <ion-col>
        <ion-item>
          <ion-label>SHUBH</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>SPC</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-label *ngIf="brands" style="text-align: center;">Select Bag Type</ion-label>
    <ion-row *ngIf="brands" radio-group [(ngModel)]="selected_bag_type">
      <ion-col>
        <ion-item>
          <ion-label>50 Kg</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>25 KG</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="selected_bag_type == 3">
        <input style="border-radius:10px; text-align: center;" type="number" [(ngModel)]="bag_count_25kg" max="5">
        <br> 25 Kgs
        <br> Katta
      </ion-col>
      <ion-col *ngIf="selected_bag_type == 1">
        <input style="border-radius:10px; text-align: center;" type="number" [(ngModel)]="bag_count_50kg" max="5">
        <br> 50 Kgs
        <br> Bori
      </ion-col>
    </ion-row>

    <h3 text-center *ngIf="selected_bag_type == 3">₹.{{quote['rate']}} x {{bag_count_25kg}} bags x 25 kgs = ₹.{{totalCost(quote['rate'], bag_count_25kg, 25) | number : '.1'}}</h3>
    <h3 text-center *ngIf="selected_bag_type == 1">₹.{{quote['rate']}} x {{bag_count_50kg}} bags x 50 kgs = ₹.{{totalCost(quote['rate'], bag_count_50kg, 50) | number : '.1'}}</h3>

    <!-- <h3 text-center>Total Cost: ₹. {{(132 * 50 * bag_count_50kg) + (bag_count_25kg * 25 * 132)}}</h3> -->

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <button ion-button (click)="confirmOrder(brands, quote['id'], bag_count_25kg, bag_count_50kg, selected_bag_type)">Order</button>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
  </span>
  <hr>
  <span>
    For orders above 5 bags please Contact:&nbsp;
    <a style="text-decoration:none" href="tel:+917538812444">
      <ion-icon name="call"></ion-icon>
      7538812444</a>
  </span>

  <!-- <h1 text-center style="font-size: 40px">Rs 132</h1>

  <h1 text-center padding-top>
      <h2 text-center>
      Quick Order
      </h2>
    <ion-row>
      <ion-col>
      <input type="number" [(ngModel)]="bag_count_25kg" max="5">    
      <br> 25 Kgs 
      <br> Katta 
    </ion-col>
    <ion-col>
      <input type="number" [(ngModel)]="bag_count_50kg" max="5">
      <br> 50 Kgs 
      <br> Bori 
    </ion-col>
  </ion-row>
  </h1>

  <h1 text-center>
  </h1>
  <h3 text-center>Total Cost: Rs. {{(132 * 50 * bag_count_50kg) + (bag_count_25kg * 25 * 132)}}</h3>

  <h1 text-center padding-top>

    Transport service:
    <br>
    <input type="text" style="width: 250px;">
  </h1>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button>Order</button>
    </ion-col>
    <ion-col> </ion-col>
  </ion-row>

  <h4>
    For orders above 5 bags call <a tel='7538812444'>7538812444</a>
  </h4> -->

</ion-content>