<ion-header>
  <ion-navbar>
    <ion-row>
      <!--<ion-col col-2>-->
        <!--<img src="assets/icon/coconut-tree.jpg" class="navbar-icon">-->
      <!--</ion-col>-->
      <ion-col>
        <ion-title>
          <span class="navbar-title">Shree Praswanath Corporation</span>
        </ion-title>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <span class="logout-button" (click)="logout()">logout</span>

  <!--Today's quote  -->
  <h3 text-center padding-top>Today's Copra Rate:</h3>
  <h1 text-center>
    <!--dont know why we need the ngFOr, but it errors otherwise, so keeping it-->
    <span>
    ₹ {{domestic_quote_of_the_day}}
    </span>
  </h1>
  <hr>
  <!--Quick Order section-->
    <!-- <h3 text-center style="font-size: 40px">Rs 132</h3> -->
  <!--<ion-label style="text-align: center;">Quick Order</ion-label>-->
  <h3 text-center>Quick Order</h3>
    <ion-label style="text-align: left; margin-left: 10px"><i>Step 1: Choose Mark:</i></ion-label>
    <ion-row radio-group [(ngModel)]="brands">
      <ion-col style="margin-left:10px;" col-5 *ngFor="let copra_brand of copra_brands">
        <ion-item style="background-color: #9C9085; border-radius: 5px">
          <ion-radio item-left [value]="copra_brand.id" class="radio-button-style"></ion-radio><ion-label style="margin-left: 0px">{{copra_brand.name}}</ion-label>
        </ion-item>
      </ion-col>

      <!-- <ion-col style="margin-left:10px;">
        <ion-item style="background-color: #9C9085; border-radius: 5px">
          <ion-radio item-left value="2" class="radio-button-style"></ion-radio>
          <ion-label style="margin-left: 0px">SPC</ion-label>
        </ion-item>
      </ion-col>

      <br>
      <ion-col col-5 style="margin-left:100px;">
        <ion-item style="background-color: #9C9085; border-radius: 5px">
          <ion-radio item-left value="3" class="radio-button-style"></ion-radio>
          <ion-label style="margin-left: 0px">LABH</ion-label>
        </ion-item>
      </ion-col> -->
    </ion-row>

  <ion-label *ngIf="brands" style="text-align: left; margin-left: 10px"><i>Step 2: Select Bag Size</i></ion-label>
    <ion-row *ngIf="brands" radio-group [(ngModel)]="selected_bag_type">
      <ion-col style="margin-left:10px;" *ngFor="let bag_type of bag_types">
        <ion-item style="background-color: #9C9085; border-radius: 5px">
          <ion-radio item-left [value]="bag_type.id" class="radio-button-style"></ion-radio>
          <ion-label>{{bag_type.name}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="selected_bag_type == 2">
        <ion-label *ngIf="brands" style="text-align: left; margin-left: 10px"><i>Step 3: Enter Bag Count</i></ion-label>
        <input style="border-radius:10px; height: 30px; text-align: center;" type="number" [(ngModel)]="bag_count_25kg" max="5">
        <br> 25 Kgs
        <br> Katta
      </ion-col>
      <ion-col *ngIf="selected_bag_type == 1">
        <ion-label *ngIf="brands" style="text-align: left; margin-left: 10px"><i>Step 3: Enter Bag Count</i></ion-label>
        <input style="border-radius:10px; height: 30px; text-align: center;" type="number" [(ngModel)]="bag_count_50kg" max="5">
        <br> 50 Kgs
        <br> Bori
      </ion-col>
    </ion-row>

    <h6 text-center *ngIf="selected_bag_type == 2">₹ {{domestic_quote_of_the_day}} x {{bag_count_25kg}} bags x 25 kgs = ₹ {{totalCost(domestic_quote_of_the_day, bag_count_25kg, 25) | number : '.2'}}</h6>
    <h6 text-center *ngIf="selected_bag_type == 1">₹ {{domestic_quote_of_the_day}} x {{bag_count_50kg}} bags x 50 kgs = ₹ {{totalCost(domestic_quote_of_the_day, bag_count_50kg, 50) | number : '.2'}}</h6>

    <!-- <h3 text-center>Total Cost: ₹. {{(132 * 50 * bag_count_50kg) + (bag_count_25kg * 25 * 132)}}</h3> -->

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <button ion-button (click)="confirmOrder(brands, domestic_quote_id, bag_count_25kg, bag_count_50kg, selected_bag_type)" [disabled]="!domestic_quote_id">Order</button>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
  <span>
    For orders above 5 bags please Contact:&nbsp;
    <a style="text-decoration:none" href="tel:+917538812444">
      <ion-icon name="call"></ion-icon>
      7538812444</a>
  </span>

  <!--todo: page errors out when order clicked with out forms filled out-->
  <!-- <h1 text-center style="font-size: 40px">Rs 132</h1>

  <h1 text-center padding-top>
      <h2 text-center>
      Quick Order
      </h2>
    <ion-row>
      <ion-col>
      <input type="number" [(ngModel)]="bag_count_25kg" max="5">    
      <br> 25 Kgs 
      <br> Katta 
    </ion-col>
    <ion-col>
      <input type="number" [(ngModel)]="bag_count_50kg" max="5">
      <br> 50 Kgs 
      <br> Bori 
    </ion-col>
  </ion-row>
  </h1>

  <h1 text-center>
  </h1>
  <h3 text-center>Total Cost: Rs. {{(132 * 50 * bag_count_50kg) + (bag_count_25kg * 25 * 132)}}</h3>

  <h1 text-center padding-top>

    Transport service:
    <br>
    <input type="text" style="width: 250px;">
  </h1>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button>Order</button>
    </ion-col>
    <ion-col> </ion-col>
  </ion-row>

  <h4>
    For orders above 5 bags call <a tel='7538812444'>7538812444</a>
  </h4> -->

</ion-content>