page-invoice-dashboard {
    .align-header {
        float: left;
        margin-left: 2rem;
    }

    .property-row {
        margin-left: 2rem;
    }

    .input-width {
        width: 200px;
    }

}
