page-multi-order {
    .rate-col {
        border-right: solid 1px;
    }
    .custom-input-box {
        background-color: #f5f5f5;
        border-radius: 6px;
        height: 75%;
        text-align: center;
    }

    .form, input, optgroup, select {
        width: 45px;
    }

    .dashboard-logout-row {
        margin-top: 15px;
    }

    // .button-md {
    //     width: 20%;
    //     height: 85%;
    //     margin: 0 0 10px 0;
    // }
}
