<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="navbar-title">Chat & Order</span>
      <span style="float:right; padding-right: 10px; color:rgb(235, 52, 52); font-size: medium" (click)="logout()">{{'LogOut' | translate}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <div *ngFor="let message of messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
    <div *ngIf="!message['is_client_message']">
      <div class="chat-bubble left slide-left">

        <div class="message" [innerHTML]="message.message" autolinker>
        </div>

        <div *ngIf="message.message==''" (click)="onAttachmentClicked(message)">
          <ion-icon name="document"></ion-icon>/<ion-icon name="image"></ion-icon>&nbsp;<ion-icon name="download" style="float: right;"></ion-icon>
        </div>

        <div class="message-detail">
          <!-- <span (click)="viewProfile(message)" class="bold">{{toUser.username}}</span>, -->
          <span>{{message.time_modified | moment:"ago" | lowercase}}</span>
        </div>

      </div>
    </div>

    <div *ngIf="message['is_client_message']">
      <div class="chat-bubble right slide-right">

        <div class="message" [innerHTML]="message.message" autolinker>
        </div>

        <div *ngIf="message.message==''" (click)="onAttachmentClicked(message)">
          <ion-icon name="document"></ion-icon>/<ion-icon name="image"></ion-icon>&nbsp;<ion-icon name="download" style="float: right;"></ion-icon>
        </div>

        <div class="message-detail">
          <!-- <span (click)="viewProfile(message)" class="bold">{{user.username}}</span>, -->
          <span>{{message.time_modified | moment:"ago" | lowercase}}</span>
        </div>

      </div>

    </div>

    <div class="cf"></div>

  </div>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-input style="color: black;" [(ngModel)]="chatBox" placeholder="Send a message..."></ion-input>
    <button ion-button clear item-end (click)="togglePopupMenu()">
      <ion-icon class="footer-btn" name="attach"></ion-icon>
    </button>
    <button ion-button clear (click)="send(chatBox, 1)" item-end>
      <ion-icon class="footer-btn" name="send"></ion-icon>
    </button>
  </ion-item>
  <div class="popup-menu">
    <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
    <!-- <div class="popup-menu-toggle" (click)="togglePopupMenu()" [ngClass]="{'out': openMenu}"></div> -->
    <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
      <div class="popup-menu-item" for="myFileInput">
        <ion-icon name="document"></ion-icon>
        <span>Document</span>
        <input type="file" name='files[]' multiple (change)="onUploadChange($event)" id="myFileInput" />
      </div>
      <div class="popup-menu-item" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
        <span>Camera</span>
      </div>
      <div class="popup-menu-item" (click)="choosePicture()">
        <ion-icon name="image"></ion-icon>
        <span>Gallery</span>
      </div>
    </div>
  </div>
    <!-- <button ion-button clear (click)="openQuestionnaire()" item-start>
      <ion-icon name="flash"></ion-icon>
    </button> -->
  <!-- <ion-row>
    <ion-col>
      <button ion-button small full icon-start (click)="openOrder()">
        <ion-icon name="cart"></ion-icon>&nbsp;
        Order
      </button>
    </ion-col>
    <ion-col>
      <button ion-button small full icon-end (click)="openBid()">
        <ion-icon name="alert"></ion-icon>&nbsp;
        Bid
      </button>
    </ion-col>
  </ion-row> -->
</ion-footer>