page-contact {
  .text-box-midium {
    width: 70%;
    color: #000000;
    background-color: white;
    text-align: center;
    padding-right: 0px;
  }

  .row-head {
    background-color: rgb(194, 216, 235);
  }
  
}
