.scroll-content{
    padding: 0px !important;
    // background-color: cadetblue !important;
}

.tiny-date-row {
    font-size: small;
    font-style: italic;
    color: rgb(128, 87, 0);

}

.form, input, optgroup, select {
    width: 100px;
}

.header-text {
    font-weight: bold
}

ion-col {
    text-align: center
}

.card-header-md {
    font-size: 1 rem;
    color: #222;
    padding: 6px, 6px, 20px, 6px;
}

.col {
    padding-top: 5px;
    padding-left: 0px;
    font-size: small;
}


.card-md {
    border-radius: 0px;
    background-color: #78c2c4;
    font-size: small;
    border-radius: 5px;
}
.bidding-trail-card {
    background-color: rgba(59, 104, 105, 0.253)
}

.message-bidform-card {
  background-color: rgba(59, 104, 105, 0.253);
  margin: 0px;
  width: 100%;
}

.quote-bubble, .message-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    // width: 110px;
    text-align: left;
    padding: 7px;
    position: relative;
    margin-left: 200px;
    // max-width: 250px;
}

.message-bubble {
  background-color: #eeeeee;
}

div .speech-bubble-buyer {
  float: right !important;
}

div .speech-bubble-owner {
  float: left !important;
  margin-left: 5px;
  margin-right: 200px;
}

.chat-bubble-name {
  font-style: italic;
  color: brown;
}


.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}

.bottom:after {
    border-color: #f8f8f8 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    bottom: 3px;
    content: "";
    position: absolute;
    left: -7px;
}


.bidding-status {
    background-color: #41c261;
    border: 1px solid #41c261;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    position: relative;
    width: 100%;
}


.message-input-box {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border-color: transparent;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.bid-input-box {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 20px;
  border-radius: 4px;
  border-color: transparent;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.send-button {
  border-radius: 25px;
  margin-top: 15px;
}

.rate-quantity-input-box {
  background-color: #f1f1f1;
  height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 5px;
}
