page-sign-up {
    .item-md {
        background-color: transparent;
    }

    .input {
        color: saddlebrown;
    }

<<<<<<< HEAD
    // .passwordIcon{
    //     font-size:2rem !important;
    //     position: relative !important;
    //     top: 22px !important;
    //     margin: 0 auto !important;
    // }
=======
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
    }
>>>>>>> 212c1a2b7f51f356fca15507e2dae7366d3294aa

}
