<ion-header>

  <ion-navbar>
    <ion-title>
      <span class="navbar-title">Record Remittance</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label style="color: darkslategray;" floating>Mode of Transaction</ion-label>
    <ion-select interface="popover" [(ngModel)]="mode_of_payment">
      <ion-option [value]="payment_mode.id" *ngFor="let payment_mode of payment_modes">{{payment_mode.name}} &nbsp;&nbsp;</ion-option>
    </ion-select>
  </ion-item>
  <ion-item padding-top>
    <ion-label style="color: darkslategray;" floating>Amount</ion-label>
    <ion-input type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: darkslategray;" floating>UTR Number</ion-label>
    <ion-input type="text" [(ngModel)]="utr_number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: darkslategray;" floating>Date</ion-label>
    <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="payment_date"></ion-datetime>
  </ion-item>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <button ion-button (click)="submitPaymentDetails(payment_date, amount, utr_number, mode_of_payment)">Record</button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <hr>
  <ion-row padding-top class="table-header-row">
    <ion-col col-2 class="table-header-row-cell">Date</ion-col>
    <ion-col col-4 class="table-header-row-cell">Remittance ID</ion-col>
    <ion-col col-3 class="table-header-row-cell">Amount</ion-col>
    <ion-col col-3 class="table-header-row-cell">Status</ion-col>
  </ion-row>
  <span *ngFor="let transaction of transacion_details">
    <ion-row>
      <ion-col col-2>
        <span>{{transaction['date_sent'] | date: 'dd-MMM'}}</span>
      </ion-col>
      <ion-col col-4>
        <span>{{transaction['transaction_id']}}</span>
      </ion-col>
      <ion-col col-3>
        <span>{{transaction['amount'] | number: '.2'}}</span>
      </ion-col>
      <ion-col col-3>
        <span text-captialize>{{transaction['payment_status']['name']}}</span>
      </ion-col>
    </ion-row>
  </span>
</ion-content>